.loginBlock{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat : no-repeat;
  background-size : cover;
}

.headerTextBox{
  text-align: center;
  margin-bottom: 10vh;
}

.headerText{
  color: black;
}

.signInBox{
  height: 400px;
  width: 450px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px #e6e6e6;
}

.space{
  height: 4vh;
}

.idInput{
  margin-top: 10px;
  display: flex;
  width: 80%;
}

.passInput{
  margin-top: 10%;
  width: 80%;
}

.loginFail{
  color: red;
  font-size: 10px;
  margin-top: 5px;
}

.signInButton{
  width: 80%;
  height: 7vh;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  border: none;
  background-color: black;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}

.signInButton:hover{
  background-color: #096dd9;
}